<div class="streak-celebration-overlay" [class.fly-out]="isFlying()">
  <div class="streak-celebration-modal" [class.flying]="isFlying()">
    <div class="celebration-content">
      <!-- Fire icon with particles -->
      <div class="fire-icon-container">
        <svg class="fire-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path d="M8.5 14.5A2.5 2.5 0 0 0 11 12c0-1.38-.5-2-1-3-1.072-2.143-.224-4.054 2-6 .5 2.5 2 4.9 4 6.5 2 1.6 3 3.5 3 5.5a7 7 0 1 1-14 0c0-1.153.433-2.294 1-3a2.5 2.5 0 0 0 2.5 2.5z"/>
        </svg>
        <div class="fire-glow"></div>
      </div>
      
      <!-- Streak counter with animated transition -->
      <div class="streak-counter-display">
        <div class="streak-number-wrapper">
          <span class="streak-number streak-number-old">{{ previousStreak() }}</span>
          <span class="streak-number streak-number-new">{{ newStreak() }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
